html1{ scroll-behavior: smooth;}
*{padding: 0;margin: 0;box-sizing: border-box;}
body{background-color: bisque;font-family: 'poppins', sans-serif;}
header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header img{
    width: 10rem;
    height: 10%;
    border-radius: 10%;
    animation:pulse 3s infinite;

}
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0px; rgba(0,0,0,o.5);
    }
    100%
    {
     box-shadow: 0 0 0 30px rgba(0,0,0,0);
    }
}
header h3{
    color: black;
    margin: 1.5rem 0;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;

}
span {
    animation:arrow 1s ease-in-out infinite;
}
@keyframes arrow{
0%{ color: #3c6382;}
50%{color:black;}
100{color: black;}
}
.container{
    width: 100%;
    min-height: 150vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.8fr 0.2fr;
    gap: 1rem;
    grid-template-areas: "profile profile skils skils" 
    "eduction eduction eduction language"
    "contact exp exp exp";
               
} 
.profile
{
    background-color: rgb(214, 248, 240);
    color: black;
    padding: 2rem;
    grid-area: profile;
}
.skills{
    background-color: rgb(156, 158, 157);
    color: black;
    padding: 2rem;
    grid-area: skils;
}
.eduction
{
    background-color: rgb(167, 155, 92);
    color: black;
    padding: 2rem;
    grid-area: eduction;
}
.contact{
    background-color: rgb(201, 145, 72);
    color: black;
    padding: 2rem;
    grid-area: contact;

}
.language
{
    background-color: rgb(182, 228, 213);
    color: black;
    padding: 2rem;
    grid-area: language;
}
.exp{
    background-color: rgba(245, 24, 43, 0.062);
    color: black;
    padding: 2rem;
    grid-area: exp;

}
footer{
    color: whitesmoke;
    background-color: rgb(87, 77, 97);
    padding: 2rem;
    grid-area: footer;
}
h2{
    margin-bottom: 1rcap;
}
.profile p{
    padding: 0.3rem 1rem;
    text-align: justify;
    line-height: 1.8rem;
}
.profile a{
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    background-color: white
    color: black;
    font-size: 1rem;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace
}
.eduction a{
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    background-color: white
    color: black;
    font-weight: bold;

}
.eduction{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace
}
.contact  div i{
    margin: 1rem 0rem;
    cursor: pointer;

}
.exp
{
    font-size: 1rem;
    
    font-family: 'Courier New', Courier, monospace
}
footer{
     text-align: center;
}
.skills{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace

}

        